.question {
  display: flex;
  background-color: #f5f5f5;
  .question_list {
    width: 320px;
    height: calc(100vh - 170px);
    margin-top: 20px;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    }

  .question_content {
    // width: 860px;
    width: 1400px;
    height: calc(100vh - 200px);
    padding: 0 20px 30px 54px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}
}
